.steps-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; /* Space out the icons */
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    height: 30vh;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 120px;
  }
  
  .icon {
    font-size: rem; /* Adjust icon size */
    width: 100px;
    height: 100px;
  }
  
  .line {
    margin: 20px;
    font-size: large;
    text-align: center;
    width: 200px; /* Adjust line width */
    height: 2px; /* Adjust line thickness */
    color: white;
    /* background-color: white; Line color */
    margin-top: 10px; /* Space between icon and line */
  }
  